<template>
  <div>
    <navbar></navbar>

    <select v-model="university" title="university" @change="fetchSchools" name="university">
      <option value="" disabled selected hidden>-- Universidad --</option>
      <option v-for="university in universities" :value="university">{{university.name}}</option>
    </select>
    <select v-model="school" title="school" @change="fetchDegrees" name="school">
      <option value="" disabled selected hidden>-- Degree --</option>
      <option v-for="school in schools" :value="school">{{school.name}}</option>
    </select>
    <select v-model="degree" title="degree" @change="fetchSubjects" name="degree">
      <option value="" disabled selected hidden>-- Subject --</option>
      <option v-for="degree in degrees" :value="degree">{{degree.name}}</option>
    </select>

    {{courses}}

  </div>
</template>

<script>
  import Navbar from "../components/navbar";
  import {mapState, mapActions} from "vuex";

  export default {
    name: "EditCalendar",
    data: function () {
      return {
        university: {},
        school: {},
        schools: [],
        degrees: [],
      }
    },
    computed: mapState({
      universities: "universities",
      courses: function () {
        return 0
      }
    }),
    beforeMount: function () {
      this.fetchUniversities()
    },
    methods: {
      ...mapActions([
        "fetchUniversities"
      ]),
      fetchSchools: function () {
        this.$store.dispatch("fetchSchools", {university: this.university}).then(res => {
          this.schools = res.data.data[0].schools;
        }).catch(err => {
          console.error(err)
        })
      },
      fetchDegrees: function () {
        this.$store.dispatch("fetchDegrees", {school: this.school}).then(res => {
          this.degrees = res.data.data[0].degrees;
        }).catch(err => {
          console.error(err);
        })
      },
      fetchCourses: function() {
        this.$store.dispatch("fetchCourses", {degree: this.degree}).then(res => {
          this.courses = res.data.data[0].courses;
        }).catch(err => {
          console.error(err);
        })
      }
    },
    components: {Navbar}
  }
</script>

<style scoped>

</style>
