<template>
  <div>
    <login-box v-if="!sessionToken"></login-box>
    <div v-else="">
      <navbar></navbar>
      <div style="height: 100%;">
        <calendar></calendar>
      </div>
    </div>
  </div>
</template>

<script>
  import LoginBox from "../components/loginBox";
  import {mapState} from "vuex";
  import Navbar from "../components/navbar";
  import calendar from "../components/calendar";

  export default {
    name: 'Index',
    components: {calendar, Navbar, LoginBox: LoginBox},
    data() {
      return {}
    },
    computed: mapState({
      sessionToken: "sessionToken"
    })
  }
</script>

<style scoped>

</style>
