<template>
  <div>
    <login-box></login-box>
  </div>
</template>

<script>
  import LoginBox from "../components/loginBox"

  export default {
    name: "Login",
    components: {LoginBox},
    data: function () {
      return {}
    }
  }
</script>

<style scoped>

</style>
