<template>
  <div>
    <register-box></register-box>
  </div>
</template>

<script>
  import RegisterBox from "../components/registerBox";

  export default {
    name: "Register",
    components: {RegisterBox}
  }
</script>

<style scoped>

</style>
