<template>
  <div id="calendar"></div>
</template>

<script>
  import $ from "jquery";
  import "fullcalendar";


  export default {
    name: "calendar",
    data: function () {
      return {
        weekNames: ['Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom'],
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        titleFormat: 'MMMM yyyy',
        events: [{
            title: 'Algoritmia Básica',
            start: '2018-04-01',
          },
          {
            title: 'Holi',
            start: '2018-04-07',
            end: '2018-04-10'
          },
          {
            id: 999,
            title: 'Repeating Event',
            start: '2018-04-09T16:00:00'
          },
          {
            id: 999,
            title: 'Repeating Event',
            start: '2018-04-16T16:00:00'
          },
          {
            title: 'Conference',
            start: '2018-04-11',
            end: '2018-04-13'
          },
          {
            title: 'Meeting',
            start: '2018-04-12T10:30:00',
            end: '2018-04-12T12:30:00'
          },
          {
            title: 'Lunch',
            start: '2018-04-12T12:00:00'
          },
          {
            title: 'Meeting',
            start: '2018-04-12T14:30:00'
          },
          {
            title: 'Happy Hour',
            start: '2018-04-12T17:30:00'
          },
          {
            title: 'Dinner',
            start: '2018-04-12T20:00:00'
          },
          {
            title: 'Birthday Party',
            start: '2018-04-13T07:00:00'
          },
          {
            title: 'Click for Google',
            url: 'http://google.com/',
            start: '2018-04-28'
          }
        ]
      }
    },
    mounted: function() {
      $("#calendar").fullCalendar({
        locale:"es",
        header: {
          left: 'title',
          right: 'today prev,next agendaWeek,month,agendaDay'
        },
        navLinks: true, // can click day/week names to navigate views
        editable: false,
        defaultView: "agendaWeek",
        slotDuration: "01:00:00",
        minTime: "08:00:00",
        maxTime: "22:00:00",
        firstDay: "1",
        slotLabelFormat: "H:mm",
        eventLimit: true, // allow "more" link when too many events
        weekends: false,
        events: this.events,
      })

    }
  }
</script>

<style src="fullcalendar/dist/fullcalendar.min.css"></style>
<style scoped>
  #calendar {
    background-color: white;
    padding: 10px;
    height: 100%;
  }
</style>
