<template>
  <div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{headerText}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <label for="username" class="col-form-label">Nombre de usuario</label>
                  <input type="text" class="form-control form-control-sm" id="username" name="username"
                         v-model="username"
                         title="Por favor introduce tu nombre de usuario">
                  <span class="help-block"></span>
                </div>
                <div class="form-group">
                  <label for="password" class="col-form-label">Contraseña</label>
                  <input type="password" class="form-control form-control-sm" id="password" name="password"
                         v-model="password"
                         title="Por favor introduce tu contraseña">
                  <span class="help-block"></span>
                </div>
                <div id="loginErrorMsg" class="alert alert-danger" v-if="loginErrorMessage">{{loginErrorMessage}}</div>
              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-success btn-block" @click="submitLogin">Iniciar sesión</button>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <p class="lead">Registrate <span class="text-success">GRATIS</span></p>
                <ul class="list-unstyled" style="line-height: 2">
                  <li><span class="fa fa-check text-success"></span> Crea tu calendario</li>
                  <li><span class="fa fa-check text-success"></span> Organizate</li>
                  <li><span class="fa fa-check text-success"></span> No pagues 2ª matricula</li>
                  <li><span class="fa fa-check text-success"></span> Haz cosas maño...</li>
                </ul>

              </div>
              <div class="card-footer">
                <router-link to="/register" class="btn btn-primary btn-block">Register</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex'

  export default {
    name: "loginBox",
    data: function () {
      return {
        username: "",
        password: "",
        headerText: "Iniciar sesión en TiNAC",
      }
    },

    computed: mapState({
      loginErrorMessage: 'loginErrorMessage'
    }),

    methods: {
      submitLogin: function () {
        if (this.username && this.password) {
          this.$store.dispatch("submitLogin", {username: this.username, password: this.password});
          this.password = "";
        }
      }
    }
  }
</script>

<style scoped>
  .modal-body {
    margin: 0 10px;
  }
</style>
