<template>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <router-link class="navbar-brand" to="/">TiNAC</router-link>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link class="nav-link" active-class="active" to="/" exact>Calendario</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" active-class="active" to="/editCalendar" exact>Editar</router-link>
        </li>
      </ul>
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown">
            <button class="dropdown-item" @click="logout">Cerrar sesión</button>
          </div>
        </li>

        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown">
            <router-link class="dropdown-item" active-class="active" to="/" exact>Action</router-link>
            <router-link class="dropdown-item" active-class="active" to="/" exact>Another action</router-link>
            <router-link class="dropdown-item" active-class="active" to="/" exact>Something else here</router-link>
          </div>
        </li>
        -->
      </ul>
    </div>
  </nav>
</template>

<script>
  import {mapMutations} from "vuex"
  export default {
    name: "navbar",
    methods: mapMutations({
      logout: "logout"
    })
  }
</script>

<style scoped>

</style>
