<template>
  <div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{headerText}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="username" class="col-form-label">Username</label>
              <input type="text" class="form-control form-control-sm" id="username" name="username"
                     v-model="username"
                     title="Please enter you username" placeholder="example@gmail.com">
              <span class="help-block"></span>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="password" class="col-form-label">Contraseña</label>
              <input type="password" :class="{'is-invalid': passwordsNotMatch}" class="form-control form-control-sm"
                     id="password" name="password"
                     v-model="password"
                     title="Please enter your password"/>
              <span class="help-block"></span>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="repeatPassword" class="col-form-label">Repetir contraseña</label>
              <input type="password" :class="{'is-invalid': passwordsNotMatch}" class="form-control form-control-sm"
                     id="repeatPassword" name="password"
                     v-model="passwordVerify"
                     title="Please reenter your password"/>
              <div class="invalid-tooltip" v-if="passwordsNotMatch">
                Las contraseñas no coinciden
              </div>
              <span class="help-block"></span>
            </div>
          </div>
          <div class="col-12">
            <div id="loginErrorMsg" class="alert alert-danger hide" v-if="registerErrorMessage">
              {{registerErrorMessage}}
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block" @click="submitRegister">Registrarse</button>
        <router-link to="/login" class="btn btn-secondary btn-block ">Volver</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState} from "vuex";

  export default {
    name: "registerBox",
    data: function () {
      return {
        headerText: "Registrarse en TiNAC",
        username: "",
        password: "",
        passwordVerify: "",
        errorMsg: "",
      }
    },
    computed: mapState({
      registerErrorMessage: "registerErrorMessage",
      passwordsNotMatch: function () {
        return this.password !== this.passwordVerify;
      }
    }),

    methods: {
      submitRegister: function () {
        if (this.passwordsNotMatch) return;

        this.$store.dispatch("submitRegister", {username: this.username, password: this.password}).then(() => {
          this.$store.dispatch("submitLogin", {username: this.username, password: this.password}).then(() => {
            this.username = "";
            this.password = "";
            this.passwordVerify = "";
            this.$router.push("/");
          }).catch(() => {
            this.$router.push("/login");
          });
        });

      },
    }
  }
</script>

<style scoped>
  .modal-body {
    margin: 0 10px;
  }
</style>
